# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

In [1]:
import numpy as np
import pandas as pd

In [2]:
nba_stats = pd.read_csv('files/nbastats2018-2019.csv')
nba_stats.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

In [3]:
# adding this dataset with POS
nba_player_pos = pd.read_csv('files/2018-19nbaplayer_pos.csv')
nba_player_pos.head()

   RANK     FULL NAME TEAM  POS
0   NaN  Alex Abrines  Okc    G
1   NaN    Quincy Acy  Pho    F
2   NaN  Jaylen Adams  Atl    G
3   NaN  Steven Adams  Okc    C
4   NaN   Bam Adebayo  Mia  C-F

In [4]:
nba_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      521 non-null    object
 1   Height    521 non-null    int64
 2   Weight    521 non-null    int64
 3   Team      470 non-null    object
 4   Age       521 non-null    int64
 5   Salary    521 non-null    object
 6   Points    521 non-null    float64
 7   Blocks    521 non-null    float64
 8   Steals    521 non-null    float64
 9   Assists   521 non-null    float64
 10  Rebounds  521 non-null    float64
 11  FT%       499 non-null    float64
 12  FTA       521 non-null    float64
 13  FG3%      489 non-null    float64
 14  FG3A      521 non-null    float64
 15  FG%       519 non-null    float64
 16  FGA       521 non-null    float64
 17  MP        521 non-null    float64
 18  G         521 non-null    int64
 19  PER       521 non-null    float64
 20  OWS       521 non-null    float64
 21  DWS       521 non-null    float64
 22  WS        521 non-null    float64
 23  WS48      521 non-null    float64
 24  USG       521 non-null    float64
 25  BPM       521 non-null    float64
 26  VORP      521 non-null    float64
dtypes: float64(20), int64(4), object(3)
memory usage: 110.0+ KB

# What was the average age of player in the league?

In [5]:
print(f"\nThe average age of player in the league is {nba_stats['Age'].mean().round(decimals=2)}")
nba_stats['Age'].describe()

The average age of player in the league is 25.9

count    521.000000
mean      25.900192
std        4.208236
min       19.000000
25%       23.000000
50%       25.000000
75%       29.000000
max       42.000000
Name: Age, dtype: float64

# What player scored the most points?

In [6]:
nba_stats['Name'].is_unique

True

In [7]:
print("\nJames Harden scored the most points.")
nba_stats.sort_values('Points', ascending= False)[['Name', 'Team', 'Points']].head()

James Harden scored the most points.

                      Name                   Team  Points
202           James Harden        Houston Rockets    36.1
179            Paul George  Oklahoma City Thunder    28.0
15   Giannis Antetokounmpo        Milwaukee Bucks    27.7
151            Joel Embiid     Philadelphia 76ers    27.5
253           LeBron James     Los Angeles Lakers    27.4

# What player had the most blocks during the season? Was it a post player (F/C)?

In [8]:
nba_player_pos = nba_player_pos.rename(columns= {'FULL NAME': 'Name'})
nba_player_pos

nba_merged = pd.merge(nba_stats, nba_player_pos, on= 'Name', how= 'left')
# nba_merged.info()

In [9]:
print("\nMyles Turner had the most blocks during the season. He was an F-C.")
nba_merged.sort_values('Blocks', ascending= False)[['Name', 'Team', 'POS', 'Blocks']].head()

Myles Turner had the most blocks during the season. He was an F-C.

                  Name                  Team  POS  Blocks
556       Myles Turner        Indiana Pacers  F-C     2.7
485  Mitchell Robinson       New York Knicks    C     2.4
140      Anthony Davis  New Orleans Pelicans  F-C     2.4
210        Rudy Gobert             Utah Jazz    C     2.3
350        Brook Lopez       Milwaukee Bucks    C     2.2

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [10]:
print("\nJames Harden had the best chance to win a title based on his win percentage.")
nba_stats.sort_values('WS', ascending= False)[['Name', 'Team', 'WS']].head()

James Harden had the best chance to win a title based on his win percentage.

                      Name                    Team    WS
202           James Harden         Houston Rockets  15.2
183            Rudy Gobert               Utah Jazz  14.4
15   Giannis Antetokounmpo         Milwaukee Bucks  14.4
299         Damian Lillard  Portland Trail Blazers  12.1
179            Paul George   Oklahoma City Thunder  11.9

# What player had the best 3-pt percentage?

In [11]:
print("\nThese 4 players: Scott Machado, Jordan Sibert, Trevon Duval, and Eric Moreland had the best 3-pt percentage.")
nba_stats.sort_values('FG3%', ascending= False)[['Name', 'Team', 'FG3%']].head()

These 4 players: Scott Machado, Jordan Sibert, Trevon Duval, and Eric Moreland had the best 3-pt percentage.

              Name                Team   FG3%
312  Scott Machado  Los Angeles Lakers  1.000
439  Jordan Sibert       Atlanta Hawks  1.000
147   Trevon Duval                 NaN  1.000
352  Eric Moreland        Phoenix Suns  1.000
95    Troy Caupain                 NaN  0.667

# Who played the most minutes during the season

In [12]:
print("\nPaul George and Bradley Beal played the most minutes during the season.")
nba_stats.sort_values('MP', ascending= False)[['Name', 'Team', 'MP']].head()

Paul George and Bradley Beal played the most minutes during the season.

                  Name                   Team    MP
179        Paul George  Oklahoma City Thunder  36.9
37        Bradley Beal     Washington Wizards  36.9
202       James Harden        Houston Rockets  36.8
496  Russell Westbrook  Oklahoma City Thunder  36.0
226       Jrue Holiday   New Orleans Pelicans  35.9

# What player given their player effiecency rating was the clutchest during the season?

In [13]:
print("\nZhou Qi was the clutchest during the season based on his player efficiency rating.")
nba_stats.sort_values('PER', ascending= False)[['Name', 'Team', 'PER']].head()

Zhou Qi was the clutchest during the season based on his player efficiency rating.

                      Name                Team   PER
405                Zhou Qi     Houston Rockets  80.4
147           Trevon Duval                 NaN  38.3
394         Gary Payton II  Washington Wizards  36.9
501          Alan Williams                 NaN  32.9
15   Giannis Antetokounmpo     Milwaukee Bucks  30.9

# What team had the youngest roster?

In [15]:
print("\nChicago Bulls had the youngest roster by the player's average age.")
nba_stats.groupby('Team', as_index= False)['Age'].mean().sort_values('Age').head().rename(columns= {'Age': 'Avg_age'}).style.format({'Avg_age': '{0:.2f}'})

Chicago Bulls had the youngest roster by the player's average age.

# Who is the highest paid player during the seasion?

In [16]:
nba_stats['Salary'] = pd.to_numeric(nba_stats['Salary'], errors='coerce')
# nba_stats['Salary'].info()

print("\nStephen Curry is the highest paid player during the season.")
nba_stats.sort_values('Salary', ascending= False)[['Name', 'Team', 'Salary']].head().style.format({'Salary': '{0:,.0f}'})

Stephen Curry is the highest paid player during the season.

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [19]:
print("\nThese 7 players had 0% of FT% and wouldn't be good on the Free Throw Line at the end of a game.")
nba_stats.sort_values('FT%')[['Name', 'Team', 'FT%']].head(7)

These 7 players had 0% of FT% and wouldn't be good on the Free Throw Line at the end of a game.

                   Name                   Team  FT%
268      Terrence Jones        Houston Rockets  0.0
221   Haywood Highsmith                    NaN  0.0
356  Donatas Motiejunas      San Antonio Spurs  0.0
502       C.J. Williams                    NaN  0.0
154         Jacob Evans  Golden State Warriors  0.0
360         Dzanan Musa          Brooklyn Nets  0.0
325      Tahjere McCall          Brooklyn Nets  0.0